<router-outlet></router-outlet>

<app-content-projection #vwChild>
  <h1 #contChildren>Want to learn Content Projection?</h1>
  <h3 #contChildren>Is Content Projection difficult?</h3>
  <h4 #contChildren>Is Content Projection interesting?</h4>
<div #contChildren class="box">
Its a box with class!!
</div>

<span #contChildren id="bell">I am a span tag with an ID:)</span>
<h6 #contChild>Content Child not so difficult after all !</h6>
<h5 #contChildren>Default header content</h5>
<p #contentChildren>Default paragraph content</p>

</app-content-projection>
